@import "./sass/partials/navbar";
@import "./sass/partials/logo";
@import "./sass/partials/.filters";
@import "./sass/partials/header";
@import "./sass/partials/jumbotron";
@import "./sass/partials/card";
@import "./sass/partials/cardlist";

body {
  background: #ffefba; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ffefba
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ffefba
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  width: 1200px;
  margin: 0 auto;
}
