@import url("https://fonts.googleapis.com/css?family=Lora&display=swap");
.navigation .menu {
  background: #21243d;
  border-radius: 0; }

@font-face {
  font-family: "2020 Outline Fortune Kei";
  src: url("../assets/fonts/2020 Outline Fortune Kei.ttf") format("truetype"); }
.logo i {
  color: #fbd786; }
.logo h1 {
  color: #f7797d;
  font-family: "2020 Outline Fortune Kei";
  letter-spacing: 1rem;
  -webkit-font-smoothing: antialiased; }
  @media (max-width: 500px) {
    .logo h1 {
      font-size: 2rem;
      letter-spacing: 0.625rem; } }
  .logo h1:hover {
    color: #c6ffdd; }

.form-filters {
  margin: 1.5rem auto;
  padding: 0 1rem;
  width: 50rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.625rem;
  padding: 0 1rem; }
  @media (max-width: 707px) {
    .form-filters {
      width: 40rem; } }
  @media (max-width: 500px) {
    .form-filters {
      width: 25rem; } }
  @media (max-width: 321px) {
    .form-filters {
      width: 22rem;
      grid-template-columns: 1fr; } }
  @media (max-width: 500px) {
    .form-filters .category {
      display: none; } }
  @media (max-width: 707px) {
    .form-filters .category {
      visibility: hidden; } }
  .form-filters .searchbox {
    margin-left: 2.5rem; }
    @media (max-width: 321px) {
      .form-filters .searchbox {
        margin-left: 0;
        padding: 0.625rem; } }
  .form-filters input {
    width: 30rem; }
    @media (max-width: 500px) {
      .form-filters input {
        width: 20rem; } }
    @media (max-width: 321px) {
      .form-filters input {
        width: 18rem; } }

.header {
  margin: 2.5rem 0;
  text-align: center; }
  .header h2 {
    font-weight: 400;
    font-size: 2.8rem;
    color: #263f44;
    line-height: 1em;
    font-style: italic; }
    @media (max-width: 500px) {
      .header h2 {
        font-size: 2rem; } }
  .header p {
    color: #f3481b;
    margin-top: -12px; }
    @media (max-width: 500px) {
      .header p {
        font-size: 1rem;
        padding: 0.625rem; } }

.jumbotron {
  background: #c6ffdd;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7797d, #fbd786, #c6ffdd);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7797d, #fbd786, #c6ffdd);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 0 1px 2px #777;
  -moz-box-shadow: 0 2px 1px #777;
  box-shadow: 0 2px 1px #777;
  padding: 2rem 0; }

.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.625rem;
  padding: 1rem 1rem; }
  @media (max-width: 1024px) {
    .card {
      grid-template-columns: repeat(3, 1fr); } }
  @media (max-width: 768px) {
    .card {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 500px) {
    .card {
      grid-template-columns: 1fr; } }
  .card img {
    max-width: 100%;
    justify-content: center;
    align-self: center;
    display: block;
    border-radius: 3px;
    transition: 400ms ease-in-out; }
    .card img:hover {
      cursor: pointer; }

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto; }

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #21243d;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; }

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1); } }
@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1); } }
body {
  background: #ffefba;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #ffefba);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #ffefba);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

html {
  box-sizing: border-box; }

.container {
  width: 95%;
  margin: 0 auto; }

@media (max-width: 321px) {
  .github {
    visibility: hidden; } }

/*# sourceMappingURL=App.css.map */
