.card {
  img {
    max-width: 100%;
    transition: 400ms ease-in-out;
    box-shadow: 0 1px #ffffff inset, 0 1px 3px rgba(34, 25, 25, 0.4);
    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }
  }
}
