@import url("https://fonts.googleapis.com/css?family=Lora&display=swap");

.header {
  margin: 2.5rem 0;
  text-align: center;
  h2 {
    font-weight: 400;
    font-size: 2.8rem;
    color: #263f44;
    line-height: 1em;
    font-style: italic;
    @include mobile {
      font-size: 2rem;
    }
  }

  p {
    color: #f3481b;
    margin-top: -12px;
    @include mobile {
      font-size: 1rem;
      padding: 0.625rem;
    }
  }
}
