@font-face {
  font-family: "2020 Outline Fortune Kei";
  src: url("../assets/fonts/2020 Outline Fortune Kei.ttf") format("truetype");
}

.logo {
  i {
    color: #fbd786;
  }
  h1 {
    color: #f7797d;
    font-family: "2020 Outline Fortune Kei";
    letter-spacing: 1rem;
    -webkit-font-smoothing: antialiased;
    @include mobile {
      font-size: 2rem;
      letter-spacing: 0.625rem;
    }
    &:hover {
      color: #c6ffdd;
    }
  }
}
