$tablet: 768px;
$mobile: 500px;
$desktop: 1024px;
$phone: 321px;

@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin phone {
  @media (max-width: $phone) {
    @content;
  }
}
